body {
  height: 100%;
  background-color: #dde4e0;
}


/*#content {
  padding: 7% 0;
}*/

#content>* {
  text-align: center;
}

#name {
  font-size: 4em;
  font-family: sans-serif;
}

#social {
  font-size: 3em;
}

.fa-vk {
  color: #2a5885;
}

.fa-facebook {
  color: #3b5998;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 115px;
  border: 3px solid #d2d6d2;
  box-shadow: 0 0 7px #666;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#menu {
  text-align: right;
  padding: 2em 7em;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#menu>a {
  text-decoration: none;
  color: black;
}

#articles .article-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 3px solid #d2d6d2;
  box-shadow: 0 0 7px #666;
  object-fit: cover;
  width: 230px;
  height: 230px;
}
