body {
  height: 100%;
  background-color: #dde4e0;
}

#container {
  padding: 7% 0;
}

#container>* {
  text-align: center;
}

#name {
  font-size: 4em;
  font-family: sans-serif;
}

#social {
  font-size: 3em;
}

.fa-vk {
  color: #2a5885;
}

.fa-facebook {
  color: #3b5998;
}

#logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
